.list__container{
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__container li{
  margin: 10px;
}
.list__container li span{
  font-weight: bold;
  font-size: 18px;
}

.btn_card_user{
  margin: 0 5px;
  padding: 15px 25px;
  border-radius: 15px;
  background-color: rgb(252, 252, 247);
  color: #0075fb;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.btn_card_user:hover{
  background-color: rgba(0, 0, 0, .1);
}

.card{
    border: 5px solid #0075fb;
    background-color: #9ef7c6;
    padding: 20px;
    text-align: center;
    border-radius: 14px;
    max-width: 430px;
    margin-bottom: 30px;
}

.title__card{
    font-size: 1.5rem;
    color: #4e05f9;
    margin: 0;
    margin-bottom: 20px;
}

@media (min-width: 540px) {
  .card{
    display: flex;
    flex-direction: column;
    flex: 0 0 100;
    gap: 10px;
  }

  .btn_card_user{
    padding: 10px 15px;
    border-radius: 15px;
  }
  
}